/* Default style of the project - visuals */

/* Hat part */

.HatStructElement {
	border-bottom: black 1px solid;
	background-color: #f3f3f3;
}

/* Nav part */

.NavMenuVisualElement {
	border-right: black 1px solid;
	gap: 1;
	background-color: #f3f3f3;
	padding-left: 10px;
}

/* Content part */

.ContentMenuVisualElement {
	color: inherit;
	padding: 10px;
	background-color: #f3f3f3;
}

.CodeElement {
	border: 1px black solid;
	border-radius: 5px;
	margin: 5px;
	padding: 5px;
	background-color: #1F1F1F;
	color: #CCCCCC;
	font-family: 'Courier New', Courier, monospace;
} 

.QuoteElement {
	color: darkgray;
	border-left: 5px solid darkgray;
	padding-left: 10px;
}

.HeadText {
	scale: 10px;
	text-decoration: solid;
}

.TableElement {
	/* border: 1px solid gray; */
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	min-width: 80%;
}

.TableRecordElement {
	/* To stop LSP complains */
	user-select: all; 
}

.TableCellElement {
	border: 1px solid black;
	padding: 2px;
}

.TableHeaderCellElement {
	border: 1px solid black;
	padding: 2px;
	font-weight: bold;
}
