<!DOCTYPE HTML>
<html>
<head>
    <link href="main.css" rel="stylesheet" />
    <link href="defaultStyle.css" rel="stylesheet" />
    <link href="override.css" rel="stylesheet" />
    <script src="Directories.js"></script>
    <script src="IndexScipt.js"></script>
    <script src="DisplayManager.js"></script>
</head>

<body>
    <header class="HatStructElement HatSctructOverride HatVisualElement HatVisualOverride">
        <img src="logo.png" width="64" height="64">
        <h1 id="HeadText" class="HeadText HeadTextOverride"> Head text </h1>
    </header>
    <main class="MainAligner MainAlignerOverride">
        <nav id="NavPanel" class="NavMenuStructElement NavMenuSctructOverride NavMenuVisualElement NavMenuVisualOverride">
        </nav>
        <div id="canvas" class="ContentMenuStructElement ContentMenuSctructOverride ContentMenuVisualElement ContentMenuVisualOverride">
        </div>
    </main>
</body>
<script>
	window.onload = function() {
		Init();
	}
</script>

</html>
