<!DOCTYPE HTML>
<html>
    <link href="main.css" rel="stylesheet" />
    <link href="defaultStyle.css" rel="stylesheet" />
    <link href="override.css" rel="stylesheet" />
<head>
</head> 

<body>
    <header class="HatStructElement HatSctructOverride HatVisualElement HatVisualOverride">
        <img src="logo.png" style="scale: 64px 64px;">
        
        <p> Head text</p>    
    </header>
    <main class="MainAligner MainAlignerOverride" > 
        <nav  class="NavMenuStructElement NavMenuSctructOverride NavMenuVisualElement NavMenuVisualOverride">
            <p> HeadElement </p>
            <p> HeadElement </p>
            <p> HeadElement </p>
            <p> HeadElement </p>
        </nav>

        <div class="ContentMenuStructElement ContentMenuSctructOverride ContentMenuVisualElement ContentMenuVisualOverride">
                <p> Content </p>
        </div>
    </main>
</body>


</html>