.BodyAlignerOverride {
  color: inherit;
}

.HatSctructOverride {
  color: inherit;
}


.HatVisualOverride{ 
  color: inherit;
}


.MainAlignerOverride {
  color: inherit;
}

.NavMenuVisualOverride {
  color: inherit;
}

.NavMenuSctructOverride {
  color: inherit;
}

.ContentMenuSctructOverride {
  color: inherit;
}

.ContentMenuVisualOverride {
  color: inherit;
}

.CodeElementOverride {
  
}

.HeadTextOverride {
  
}